.o_app[data-menu-xmlid="volan_badminton.menu_sport_main"] .o_app_icon {
    background-image: url('/volan_badminton/static/description/icon.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}